<p style="margin-top: 0; margin-bottom: 0; font-size: 16px; line-height: 24px;">&nbsp;</p>
<table bgcolor="#002244" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">
				<img alt="Build Faith. Challenge Potential. Follow Christ." src="https://image.exct.net/lib/fe651570766304757412/m/1/2015-08-bju-slogan.gif" style="max-width: 100%; height: auto;">
			</td>
		</tr>
	</tbody>
</table>
<table bgcolor="#eff6fc" cellpadding="10" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">
				<a href="http://www.facebook.com/bobjonesuniversity" title="Follow us on Facebook"><img alt="Facebook" hspace="0" src="https://image.exct.net/lib/fe651570766304757412/m/1/2015-08-facebook.png" vspace="0"></a>
				<a href="http://www.twitter.com/bjuedu" title="Follow us on Twitter"><img alt="Twitter" hspace="0" src="https://image.exct.net/lib/fe651570766304757412/m/1/2015-08-twitter.png" vspace="0"></a>
				<a href="http://www.instagram.com/bjuedu" title="Follow us on Instagram"><img alt="Instagram" hspace="0" src="https://image.exct.net/lib/fe651570766304757412/m/1/2015-08-instagram.png" vspace="0"></a>
			</td>
		</tr>
	</tbody>
</table>